<section id="about" class="flex flex-center">
    <div id="particles-js"></div>
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-lg-8">
                <h1><%= translations.about.title %></h1>
                <h5><span class="consultant-color"><%= translations.about.title2 %></span></h5>
                <p>Minu nimi on Stanislav Jagutkin ja olen 13-aastase kogemusega treener. Olen pühendunud tervisliku eluviisi edendamisele ja teiste inspireerimisele oma teekonna kaudu.</p>
                <p>Minu eesmärk on aidata inimestel saavutada oma tervise- ja treeningueesmärke, pakkudes juhendamist ja motivatsiooni.</p>
                <p>Usun, et kõik suudavad järjepidevuse ja pühendumise kaudu saavutada oma parima vormi. Minu kirg on fitness, toitumine ja tervislik eluviis ning olen siin, et jagada oma teadmisi ja kogemusi teiega.</p>
                <div class="container info-section flex flex-center">
                    <div class="row">
                        <div class="col-2 info-block">
                            <h2 data-target="13">0</h2>
                            <h4>Aastat kogemust jõusaalis</h4>
                        </div>
                        <div class="col-2 info-block">
                            <h2 data-target="13">0</h2>
                            <h4>Aastat kogemust jõusaalis</h4>
                        </div>
                        <div class="col-2 info-block">
                            <h2 data-target="13">0</h2>
                            <h4>Aastat kogemust jõusaalis</h4>
                        </div>
                        <div class="col-2 info-block">
                            <h2 data-target="5">0</h2>
                            <h4>Aastat püsin vormis ilma endale midagi keelamata</h4>
                        </div>
                        <div class="col-2 info-block">
                            <h2 data-target="10000">0</h2>
                            <h4>Õnneliku klienti</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="img/pictures/1.png" class="about-img" alt="about">
            </div>
        </div>
    </div>
</section>