<section id="about" class="left-to-right-clip flex flex-center">
    <div class="container">
        <div class="row">
            <h2 class="section-title">Minust</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere optio qui ratione recusandae. Corporis deleniti error molestiae porro provident quia, reprehenderit! Assumenda consequatur ex id ipsa perspiciatis tenetur voluptas?</p>
                <button onclick="scrollToElement('personal-training')" class="btn btn-primary text-black">Book consultation</button>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</section>