<section id="before-after">
    <div class="container">
        <div class="row pb-5 pt-5">
            <h2 class="section-title">Kogemused ja muutused mis räägivad endast</h2>
        </div>
    </div>

    <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h6>
                    <b>"</b>
                    Jessica's positive attitude and constant encouragement have helped me push through my mental barriers and achieve things I never thought possible. Through her patient guidance and genuine care for my well-being, she has helped me not only transform my body but also rediscover my love for fitness and overall sense of self-confidence
                    <b>"</b>
                </h6>
                <b>Emily P.</b>
            </div>
            <div class="carousel-item">
                <h6>
                    <b>"</b>
                    Jessica's positive attitude and constant encouragement have helped me push through my mental barriers and achieve things I never thought possible. Through her patient guidance and genuine care for my well-being, she has helped me not only transform my body but also rediscover my love for fitness and overall sense of self-confidence
                    <b>"</b>
                </h6>
                <b>Emily P.</b>
            </div>
            <div class="carousel-item">
                <h6>
                    <b>"</b>
                    Jessica's positive attitude and constant encouragement have helped me push through my mental barriers and achieve things I never thought possible. Through her patient guidance and genuine care for my well-being, she has helped me not only transform my body but also rediscover my love for fitness and overall sense of self-confidence
                    <b>"</b>
                </h6>
                <b>Emily P.</b>
            </div>
        </div>

        <button class="round-button carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
        </button>

        <button class="round-button carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>


</section>







<!--<section id="before-after">-->
<!--    <div class="left-content">-->
<!--        <h1>Muutused mis on toimunud minu klientidega</h1>-->
<!--        <p>Kogemused ja muutused mis räägivad endast</p>-->
<!--    </div>-->
<!--    <div class="smartphone">-->
<!--        <div class="status-bar">-->
<!--            <span class="time">9:41</span>-->
<!--            <div class="status-icons">-->
<!--                <img src="signal.png" alt="Signal" class="icon">-->
<!--                <img src="wifi.png" alt="WiFi" class="icon">-->
<!--                <img src="battery.png" alt="Battery" class="icon">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-container">-->
<!--            <div id="carouselExampleIndicators2" class="carousel slide mt-5" data-bs-ride="carousel">-->
<!--                <div class="carousel-indicators">-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                </div>-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <img src="img/pictures/klient1.jpg" class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="img/pictures/klient2.jpeg" class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="img/pictures/klient3.jpeg" class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </button>-->
<!--                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->