<section id="before-after" class="container mt-5">
    <div class="text-center mb-5">
        <h2>Enne/Pärast</h2>
        <p>Kogemused ja tulemused, mis räägivad enda eest.</p>
    </div>
    <div class="row">
        <!-- Example of before and after image pairs -->
        <div class="col-6">
            <figure>
                <figcaption>Enne</figcaption>
<!--                <img src="path_to_before_image.jpg" alt="Enne" class="img-fluid">-->
            </figure>
        </div>
        <div class="col-6">
            <figure>
                <figcaption>Pärast</figcaption>
<!--                <img src="path_to_after_image.jpg" alt="Pärast" class="img-fluid">-->
            </figure>
        </div>
    </div>
</section>