<section id="before-after" class="mt-5 flex flex-column flex-center">
    <div class="text-center mb-5">
        <h2>Enne/Pärast</h2>
        <p>Kogemused ja tulemused, mis räägivad enda eest.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <figure>
                    <figcaption>Enne</figcaption>
                    <img src="img/pictures/bookleftup.jpg" alt="Enne" class="img-fluid">
                </figure>
            </div>
            <div class="col-6">
                <figure>
                    <figcaption>Pärast</figcaption>
                    <img src="img/pictures/bookrightup.jpg" alt="Pärast" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
</section>