<section id="before-after" class="clip-right">
    <div class="container">
        <div class="row pb-5 pt-5">
            <h2 class="section-title"><%= translations.beforeAfter.title %></h2>
        </div>


        <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%- include('../partials/feedback-content', {
                    comment: translations.beforeAfter.feedback1.comment,
                    author: translations.beforeAfter.feedback1.author,
                    img: "img/pictures/client1.jpg"
                    }) %>
                </div>
                <div class="carousel-item">
                    <%- include('../partials/feedback-content', {
                    comment: translations.beforeAfter.feedback2.comment,
                    author: translations.beforeAfter.feedback2.author,
                    img: "img/pictures/client2.jpg"
                    }) %>
                </div>
                <div class="carousel-item">
                    <%- include('../partials/feedback-content', {
                    comment: translations.beforeAfter.feedback3.comment,
                    author: translations.beforeAfter.feedback3.author,
                    img: "img/pictures/client3.jpg"
                    }) %>
                </div>
            </div>

            <button class="round-button carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
            </button>

            <button class="round-button carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
            </button>
        </div>
    </div>
</section>
