<section id="personal-training">
    <div class="container">
        <div class="row pt-5 pb-5">
            <h2 class="section-title-black">Tule Trenni</h2>
        </div>
        <div class="row text-center">
            <p class="text-black">Vaata lähim aeg, millal saaksid tulla trenni. And some other text</p>
        </div>
        <div class="row">
            <form class='mb-3' action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="833bcde2-470b-4729-ae1c-3a28d174b7b7">
                <div class="mb-3">
                    <label for="name" class="form-label">Nimi</label>
                    <input name="Name" type="text" class="form-control" id="name" placeholder="Siseta oma nimi...">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Siseta oma email...">
                </div>
                <div class="mb-3">
                    <label for="telefon" class="form-label">Telefon</label>
                    <input name="Phone" type="tel" class="form-control" id="name" placeholder="Siseta oma telefoni numbrit...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Treenitüüp</label>
                    <select name="Type" class="form-select" aria-label="Default select example">
                        <option selected>Vali treeni tüüp</option>
                        <option value="1">Toitutrenn</option>
                        <option value="2">Tavaline trenn</option>
                        <option value="3">Füüsüotrenn</option>
                        <option value="1">Personaalne treening</option>
                        <option value="2">Grupitreening</option>
                        <option value="3">Toitumisnõustamine</option>
                        <option value="4">Trennid omas saalis</option>
                        <option value="5">Programm algajatele ja edasijõudnutele</option>
                        <option value="6">Väli treeningud</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="el" class="form-label">Kuupäev</label>
                    <input name="Date" type="text" class="form-control" id="el" placeholder="Vali kuupäev">
                </div>
                <div class="mb-3">
                    <label for="el" class="form-label">Eelistatud aeg</label>
                    <div class="flex flex-center gap-3">
                        <button type="button" class="btn btn-primary time-picker" data-bs-toggle="button">10-12</button>
                        <button type="button" class="btn btn-primary time-picker" data-bs-toggle="button">13-15</button>
                        <button type="button" class="btn btn-primary time-picker" data-bs-toggle="button">16-18</button>
                    </div>
                    <input name="Time" class="time-picker-input" type="hidden" value="">
                </div>
                <div class="flex flex-center">
                    <button type="submit" class="btn btn-primary">Saada</button>
                </div>
            </form>
        </div>
    </div>

</section>