<section id="expertise" class="right-to-left-clip flex flex-center">
    <div class="container info-section">
        <div class="row pt-5 pb-5">
            <h2 class="section-title">Expertise</h2>
        </div>
        <div class="row pt-5">
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
            <div class="info-block col-lg-4 col-md-4 col-sm-12">
                <h2 data-target="13">0</h2>
                <h4>Aastat kogemust jõusaalis</h4>
            </div>
        </div>
    </div>
</section>