<footer>
    <div class="container">
        <div class="row">
            <h2 data-et="Kontakt" data-ru="Контакт">Kontakt</h2>
            <p><i class="fas fa-envelope"></i> <span data-et="Email" data-ru="Эл. почта">Email:</span> <a
                        href="mailto:info@personaalnetreener.ee">info@personaalnetreener.ee</a></p>
            <p><i class="fas fa-phone"></i> <span data-et="Telefon" data-ru="Телефон">Telefon:</span> <a
                        href="tel:+37255987472">+372 55987472</a></p>
        </div>
        <div class="row">
            <p class="text-black">&copy; 2024 Stanislav Jagutkin. Kõik õigused on kaitstud.</p>
        </div>
    </div>
</footer>
