<section id="services" class="container-fluid mt-5">
    <div class="text-center mb-5">
        <h2 data-et="Teenused ja Hinnakiri" data-ru="Цены и Услуги">Teenused ja Hinnakiri</h2>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Personaalne treening</h5>
                    <p class="card-text">Individuaalne treeningplaan ja juhendamine, mis on kohandatud teie isiklike eesmärkide ja vajaduste järgi.</p>
                    <button class="btn btn-primary">50€ / tund</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Grupitreeningud</h5>
                    <p class="card-text">Motivatsioon ja tugi grupis treenides, sobib igasuguse tasemega osalejatele.</p>
                    <button class="btn btn-primary">20€ / inimene</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Toitumisnõustamine</h5>
                    <p class="card-text">Personaalne toitumiskava ja nõustamine, mis toetab teie treeningueesmärke ja tervislikku elustiili.</p>
                    <button class="btn btn-primary">40€ / seanss</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Trennid omas saalis</h5>
                    <p class="card-text">Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.</p>
                    <button class="btn btn-primary">60€ / tund</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Programm algajatele ja edasijõudnutele</h5>
                    <p class="card-text">Spetsiaalsed programmid nii algajatele kui ka kogenud treenijatele, mis aitavad saavutada uusi kõrgusi.</p>
                    <button class="btn btn-primary">100€ / kuu</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Väli treeningud</h5>
                    <p class="card-text">Värskes õhus toimuvad treeningud, mis pakuvad vaheldust ja täiendavat motivatsiooni.</p>
                    <button class="btn btn-primary">30€ / tund</button>
                </div>
            </div>
        </div>
    </div>
</section>