<section id="shop" class="container-fluid mt-5">
    <div class="content text-center">
        <h2 data-et="Pood" data-ru="Магазин">Pood</h2>
        <p data-et="Avastage meie pood, kust leiate parimad fitness-tooted ja kaupu."
           data-ru="Откройте для себя наш магазин, где вы найдете лучшие фитнес-товары и продукцию.">Avastage meie pood,
            kust leiate parimad fitness-tooted ja kaupu.</p>
        <p data-et="Pood on arendamisel..." data-ru="Магазин находится в стадии разработки...">Pood on
            arendamisel...</p>
    </div>
</section>