<section id="tracker" class="right-to-left-clip flex flex-center">
    <div class="container">
        <div class="row mb-5">
            <h2 class="section-title">We provide tracker with trainings</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="img/pictures/tracker-image.jpg" alt="tracker-image">
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eius id laborum minus numquam quibusdam tempore. Ab adipisci, assumenda eius eligendi exercitationem hic ipsum necessitatibus nobis praesentium quisquam, rem vero!</p>
                <button onclick="goToTracker()" class="btn btn-primary">Start tracking</button>
            </div>
        </div>
    </div>
</section>