<section id="tracker" class="clip-right flex flex-center">
    <div class="container">
        <div class="row mb-5">
            <h2 class="section-title"><%= translations.trackerLanding.title %></h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="img/pictures/tracker-image.png" alt="tracker-image">
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-right">
                <p>
                    <%= translations.trackerLanding.description %>
                </p>
                <button onclick="goToTracker()" class="btn btn-primary"><%= translations.trackerLanding.button %></button>
            </div>
        </div>
    </div>
</section>
