<section id="video-training" class="container-fluid mt-5">
    <div class="content text-center">
        <h2 data-et="Video treeningud" data-ru="Видео тренировки">Video treeningud</h2>
        <p data-et="Osta juurdepääs minu videotreeningutele, et treenida igal ajal ja igal pool."
           data-ru="Приобретите доступ к моим видеотренировкам, чтобы заниматься в любое время и в любом месте.">Osta
            juurdepääs minu videotreeningutele, et treenida igal ajal ja igal pool.</p>
        <p data-et="Videod on varsti tulekul" data-ru="Видео скоро появятся">Videod on varsti tulekul</p>
    </div>
</section>