<div class="feedback-container flex flex-row flex-center gap-2">
    <div>
        <h6>
            <b>"</b>
            <%= comment%>
            <b>"</b>
        </h6>
        <b><%= author %></b>
    </div>
    <img src=<%= img %> alt="klient">
</div>

