<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaalne Treener</title>
    <link rel="icon" href="img/icons/logo-icon.png" type="image/x-icon">


    <!--Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!--AirDatePicker styles-->
    <link href="css/air-datepicker.css" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/icons.css">

    <!--Landing sections styles-->
    <link rel="stylesheet" href="css/landing/landing-styles.css">
    <link rel="stylesheet" href="css/landing/navbar.css">
    <link rel="stylesheet" href="css/landing/header-slider.css">
    <link rel="stylesheet" href="css/landing/about.css">
    <link rel="stylesheet" href="css/landing/expertise.css">
    <link rel="stylesheet" href="css/landing/tracker-landing.css">
    <link rel="stylesheet" href="css/landing/services.css">
    <link rel="stylesheet" href="css/landing/faq.css">
    <link rel="stylesheet" href="css/landing/before-after.css">
    <link rel="stylesheet" href="css/landing/book-form.css">
    <link rel="stylesheet" href="css/landing/footer.css">
</head>