<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaalne Treener</title>
    <link rel="icon" href="img/icons/logo-icon.png" type="image/x-icon">

    <!--FlatPickr styles-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">-->

    <!--Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!--AirDatePicker styles-->
    <link href="css/air-datepicker.css" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/styles.css">

    <!--Landing sections styles-->
    <link rel="stylesheet" href="css/header-slider.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/expertise.css">
    <link rel="stylesheet" href="css/tracker-landing.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/before-after.css">
    <link rel="stylesheet" href="css/book-form.css">
    <link rel="stylesheet" href="css/footer.css">

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/66ea919283ab531891e87858/1i824h9q0';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>