<div class="header-div">
    <header class="text-center py-3">
        <img src="img/FontButton/arm.png" alt="Logo" width="150" height="75" class="d-inline-block align-top">
        <h1 class="styled-header" data-et="OLE ENDA PARIMAS VORMIS" data-ru="OLE ENDA PARIMAS VORMIS">OLE ENDA PARIMAS VORMIS</h1>
        <p class="red-back-text" data-et="yagutkinfitness.ee" data-ru="yagutkinfitness.ee">
            YAGUTKINFITNESS.EE</p>
    </header>

    <nav class="navbar navbar-expand-lg text-bold text-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><%= translations.navbar.home %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" data-et="Minust" data-ru="О нас"><%= translations.navbar.about %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#personal-training" data-et="Tule trenni"
                           data-ru="Присоединиться к тренировке"><%= translations.navbar.comeToTraining %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#before-after" data-et="Enne/Pärast" data-ru="До/После">Enne/Pärast</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#pricing" data-et="Teenused ja Hinnakiri"
                           data-ru="Цены и Услуги">Teenused/Hinnakiri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#shop" data-et="Pood" data-ru="Магазин">Pood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#video-training" data-et="Video treeningud"
                           data-ru="Видео тренировки">Video treeningud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact" data-et="Kontakt"
                           data-ru="Контакт">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/yagutkin.fit" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/stanislav.jagutkin" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="lang-est" class="nav-link flag-circle flag-est" href="?lang=et"></a>
                    </li>
                    <li class="nav-item">
                        <a id="lang-rus" class="nav-link flag-circle flag-rus" href="?lang=ru"></a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a id="lang-en" class="nav-link flag-circle flag-rus" href="?lang=en"></a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="fixed-top-content" style="display: none;">
                <img src="img/FontButton/arm.png" alt="Logo" class="navbar-logo">
                <p class="fixed-top-text">YAGUTKINFITNESS.EE</p>
            </div>
        </div>
    </nav>
</div>