<div class="service col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
        <div class="card-body flex flex-column justify-content-between">
            <div>
                <h5 class="card-title"><%= title %></h5>
                <p class="card-text"><%= text %></p>
            </div>
            <button onclick="goToForm('<%= type %>')" class="btn btn-primary"><%= price %></button>
        </div>
    </div>
</div>