# Node.js
node_modules/
config.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.pnp.*
.eslintcache

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build artifacts
dist/
build/
public/
.jest/

# Cache files
.cache/
.temp/