#about {
    position: relative;
    background-image: url("../img/pictures/bookrightdown.jpg");
    background-size: cover;
    overflow: hidden;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: 1;
}

#about h2, #about p, #about button {
    position: relative;
    z-index: 2;
    color: white;
}
#about p {
    padding: 30% 0;
}

@media (max-width: 768px) {
    #about {
        text-align: center;
    }
}
