#before-after {
    padding: 5% 5%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    background: linear-gradient(180deg, rgba(67,90,113,1) 0%, rgba(0,0,0,1) 100%);
}

#feedbackCarousel {
    padding: 10% 0;
}

#feedbackCarousel .carousel-inner{
    padding: 0 10%;
}

#feedbackCarousel .carousel-control-prev, #feedbackCarousel .carousel-control-next {
    top: 40%;
}

#feedbackCarousel .carousel-item h6 {
    font-size: 2rem;
    font-weight: 300;
}

.round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Размер кнопки */
    height: 60px; /* Размер кнопки */
    border-radius: 50%; /* Круглая форма */
    background-color: yellow; /* Желтый цвет */
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Небольшая тень */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Эффект при наведении */
}

.round-button:hover {
    background-color: #ffd700; /* Более насыщенный желтый при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

.round-button svg {
    width: 30px; /* Размер иконки */
    height: 30px;
    fill: none;
    stroke: black; /* Цвет стрелки */
}

.round-button:focus {
    outline: none; /* Убираем стандартную обводку при фокусе */
}


/*#before-after .content {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/

/*#before-after .content h1 {*/
/*    font-size: 2.5rem; !* Scaled up for balance with a larger phone *!*/
/*    margin-bottom: 0.5em; !* Adds a little space below the heading *!*/
/*}*/

/*#before-after .content p {*/
/*    font-size: 1.4rem; !* Scaled up for better readability *!*/
/*}*/

/*#before-after .smartphone {*/
/*    width: 600px; !* Increased width *!*/
/*    height: 800px; !* Increased height *!*/
/*    border-radius: 36px; !* Slightly larger border radius to maintain the proportion *!*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    transform: rotateY(-30deg) rotateX(45deg) rotateZ(30deg);*/
/*    transform-origin: center center;*/
/*    transition: transform 0.5s ease-in-out;*/
/*    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); !* Adjusted shadow for larger size *!*/
/*    border: solid 6px transparent;*/
/*    background: white linear-gradient(white, white),*/
/*    linear-gradient(to right, #555, #333, #555);*/
/*    background-origin: border-box;*/
/*    background-clip: content-box, border-box;*/
/*    margin-left: 30px; !* Adjusted margin for spacing *!*/
/*}*/

/*@media (max-width: 768px) {*/
/*    #before-after {*/
/*        flex-direction: column;*/
/*    }*/
/*    #before-after .smartphone {*/
/*        transform: none; !* Resets transformation for better mobile viewing *!*/
/*        margin-top: 20px;*/
/*        margin-left: 0; !* Removes any horizontal margin on mobile *!*/
/*        width: 100%; !* Makes the smartphone full-width on smaller screens *!*/
/*        height: auto; !* Maintains aspect ratio *!*/
/*        border-radius: 20px; !* Smaller border radius for smaller viewports *!*/
/*    }*/
/*}*/