@font-face {
    font-family: 'Roboto Flex';
    src: url('../fonts/roboto-flex-regular.ttf') format('truetype');
    font-weight: 100 1000;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/oswald-variable.ttf") format('truetype');
    font-weight: 100 1000;
    font-display: swap;
}

/*primary: yellow*/
/*primary-dark: #cdcd2c;*/
/*primary-dark with opacity: rgba(255, 255, 0, 0.6)*/
/*secondary-light: rgba(67,90,113,1)
 secondary-dark: gradient linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(67,90,113,1) 100%)*/


body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, label {
    color: white;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

/*Logo*/
.logo-container {
    position: relative;
    text-align: center;
    display: inline-block;
}

.logo-container::before,
.logo-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: yellow;
}

.logo-container::before {
    top: -10px;
}

.logo-container::after {
    bottom: -10px;
}

/*Section common styles*/
section {
    height: 110vh;
    overflow: hidden;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family: "Oswald", sans-serif;
}

.section-title::before, .section-title::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
    margin: 0 10px;
}

/*Other*/
.bg-secondary-light {
    background: rgba(67,90,113,1);
}

label {
    font-size: 19px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-end {
    align-items: center;
    justify-content: flex-end;
}

.small-text {
    font-size: 1.5rem;
}

.large-text {
    font-size: 3rem;
}

.prefixed-text {
    font-size: 0.8rem;
    color: white;
}

.prefixed-text::before {
    content: "- ";
    color: yellow;
    font-size: 1em;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 10px;
}

/*Navbar*/
.navbar-toggler {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
}

.navbar-toggler-icon::before {
    content: "\2630";
    font-size: 1.5rem;
    color: white;
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*Buttons*/
.btn-primary {
    background-color: yellow;
    color: black;
    border-color: rgba(255, 255, 0, 0);
}

.btn-primary:hover {
    border-color: rgba(255, 255, 0, 0);
    background: rgba(255, 255, 0, 0.6);
}

