#services {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    padding: 5% 0;
    background-image: url("../img/pictures/bookrightup.jpg");
    background-size: cover;
}
.services-header h2 {
    font-weight: 800;
    font-size: 3em;
}
.service {
    width: 400px;
    height: 300px;
}
.service .card{
    background: rgba(0, 0, 0, 0.50);
}
.service .card-title {
    color: white;
    font-size: 1.5em;
}
.service .card-text {
    font-size: 1em;
}