html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-body-yellow {
    background-color: yellow;
}

.bg-body-dark {
    background-color: #343639;
}

/*for borders*/
/*main {*/
/*    border: 3px solid red;*/
/*}*/
/*.left-block, .right-block {*/
/*    border: 2px solid #0dcaf0;*/
/*}*/
/*.main-window, .bottom-sections {*/
/*    border: 3px solid yellowgreen;*/
/*}*/

/*.section-block {*/
/*    border: 2px solid red   ;*/
/*}*/

/* Для браузеров на базе WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 0, 0.6); /* Задний фон скроллбара с прозрачностью */
}

::-webkit-scrollbar-thumb {
    background-color: yellow; /* Цвет ползунка (язычка) */
    border-radius: 10px;  /* Скругление краев ползунка */
    border: 2px solid rgba(255, 255, 0, 0.6); /* Обводка ползунка того же цвета, что и трек */
}

/* Убираем стрелочки */
::-webkit-scrollbar-button {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;  /* Тонкий скроллбар */
    scrollbar-color: yellow rgba(255, 255, 0, 0.6);  /* Ползунок и фон */
}


main {
    height: 100%;
}

.left-block {
    width: 80%;
}
.right-block {
    width: 20%;
}

.main-window {
    height: 76%;
}
.bottom-block {
    height: 24%;
}

.section-block {
    width: 100%;
    height: 240px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 2px 4px rgba(0, 0, 0, 0.06);
}
.section-block:hover {
    background-color: yellow;
    color: black;
}

.weekly-body-form-section {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    margin-bottom: -5%;
    background: #4a4c4e;
    padding: 40px;
}

.body-results-section {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    margin-bottom: -5%;
    background: #323538;
    padding: 0 7%;
    padding-top: 12%;
}

.weekly-strength-form-section {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    margin-bottom: -5%;
    background: #4a4c4e;
    padding: 0 7%;
    padding-top: 12%;
}

.strength-results-section {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-right: 5%;
    background: #323538;
    padding: 0 7%;
    padding-top: 12%;
}

.calorie-section {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    height: 215px;
    margin-left: -3.5%;
    background: #4a4c4e;
}

.training-plan-section {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    height: 215px;
    margin-left: -3.5%;
    background: #323538;
}

.total-trains-section {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 215px;
    background: #4a4c4e;
    padding: 20px;
}

.tab-content {
    height: 91%;
    padding: 20px;
    overflow-y: scroll;
}

.section-block label {
    font-weight: 300;
    color: gray;
}

.outline-border {
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 5px;
}
.md-none {
    display: none;
}
.sm-none {
    display: none;
}
.active-section {
    background: yellow;
    color: black;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

#streak-img {
    width: 50px;
    height: 50px;
}
.trainings-section h6{
    font-size: 50px;
}

@media (max-width: 1470px) {
    .right-block {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .main-window {
        height: 92.5%;
    }
    .bottom-block {
        display: none;
    }
    .tab-content {
        height: 100%;
        overflow-y: hidden;
    }
    .section-block {
        height: 240px !important;
    }
    .calorie-section {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        margin-left: 0;
    }
    .training-plan-section {
        margin-left: 0;
        margin-top: -7.3%;
        padding: 0 30px;
        gap: 0 !important;
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    }
    .total-trains-section {
        margin-top: -7.3%;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    }
    .weekly-body-form-section {
        margin-top: -7.3%;
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    }
    .weekly-body-form-section p, .weekly-strength-form-section p{
        font-size: 15px;
    }
}

@media (max-width: 1170px) {
    .right-block {
        display: none;
    }
    .main-window{
        height: 76%;
    }
    .tab-content {
        height: 90%;
        overflow-y: scroll;
    }
    .left-block {
        width: 100%;
    }
    .bottom-block {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .section-block {
        max-height: 215px;
        max-width: 400px;
        flex: 0 0 auto;
        margin-right: 10px;
        scroll-snap-align: start;
    }

    .calorie-section {
        margin: 0;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .training-plan-section {
        margin: 0;
        margin-left: -7%;
        clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    }

    .total-trains-section {
        margin: 0;
        margin-left: -7%;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    }

    .weekly-body-form-section {
        clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
        padding: 0 50px;
        margin-top: 0;
        margin-left: -3%;
    }

    .body-results-section {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
        margin-left: -3%;
        padding: 20px 30px;
    }

    .weekly-strength-form-section {
        padding: 0;
        clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
        margin-left: -3%;
    }

    .strength-results-section {
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
        margin-left: -3%;
    }
}

