#expertise {
    position: relative;
    background: black;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content-wrapper {
    max-width: 100%;
    position: relative;
    border: 2px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.content-wrapper:hover {
    border: 2px solid yellow;
    box-shadow: 0 0 13px yellow, 0 0 13px yellow, 0 0 13px yellow;
}

.about-img {
    width: 430px;
    height: 650px;
    transition: 0.5s ease;
    z-index: 2;
    position: relative;
}

#expertise h1 {
    color:white;
    font-size:80px;
    font-weight:bold;
    text-transform: capitalize;
    text-align: center;
    margin:0 auto 10px;
}

#expertise h5{
    color:white;
    font-size:28px;
    text-transform: capitalize;
    text-align: center;
}

.consultant-color{
    color: yellow;
}

#expertise h4 {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

#expertise p {
    color:ghostwhite;
    font-weight: bold;: ;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom:45px;
    text-align: center;
}

.info-block h2, .info-block h4 {
    margin: 1px;
}

.info-block {
    text-align: center;
    min-width: 190px;
    margin-bottom: 10%;
}

.info-block h2 {
    font-size: 48px;
    font-weight: bold;
    visibility: hidden;
    transition: visibility 0.3s linear;
    color: yellow !important;
}

.info-block h4 {
    color:rgba(255,236,236, 0.8)
}

@media (max-width: 768px) {
    #expertise {
        padding: 14% 0;
    }
}