<div class="section-block tracker-right-top-to-bottom-clip flex flex-row flex-center gap-5">
    <div>
        <h5>Calories</h5>
        <label for="">Consumed</label>
        <p>300cal</p>
        <label>Remaining</label>
        <p>170 cal</p>
    </div>
    <img width="30%" src="img/icons/calories.png" alt="form">
</div>
<div class="section-block tracker-bottom-to-top-clip flex flex-row flex-center gap-5">
    <div>
        <h5>Current training plan</h5>
        <label>Type</label>
        <p>Muscle gaining</p>
    </div>
    <img src="img/icons/project.png" alt="training plan" width="100" height="100">
</div>
<div class="section-block tracker-top-to-bottom-clip flex flex-row flex-center gap-5">
    <div>
        <h5>Total trains</h5>
        <label for="">This week</label>
        <p>6h</p>
        <label>Previous</label>
        <p>2h</p>
    </div>
    <div class="outline-border">
        37 hours
    </div>
</div>