<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Calorie Section</h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary">Change calorie plan</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <canvas id="calorie-chart" width="400" height="200"></canvas>
        </div>
        <div class="col-6">
            <p>Calorie consumed today</p>
            <p>Remaining calories</p>
            <form action="">
                <label for="">Add calorie consumption</label>
                <input type="text" placeholder="Enter calories you consumed">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>