<div class="section-block weekly-body-form-section flex flex-row">
    <div>
        <h5>Weekly form</h5>
        <p>Please, fill the form, so we could analyze your results)</p>
        <button class="btn btn-primary">Start filling</button>
    </div>
    <img width="70%" height="70%" src="img/icons/contact-form.png" alt="form">
</div>
<div class="section-block body-results-section flex flex-row">
    <div>
        <h5>Power measurements</h5>
        <p>Fill your power measurements, so we could analyze more</p>
        <button class="btn btn-primary">Start filling</button>
    </div>
    <img width="70%" height="70%" src="img/icons/contact-form.png" alt="formik">
</div>
<div class="section-block weekly-strength-form-section"></div>
<div class="section-block strength-results-section"></div>