<div class="section-block tracker-bottom-left-to-top-clip flex flex-row">
    <div>
        <h5>Weekly form</h5>
        <p>Please, fill the form, so we could analyze your results)</p>
        <button class="btn btn-primary">Start filling</button>
    </div>
    <img width="70%" height="70%" src="img/icons/contact-form.png" alt="form">
</div>
<div class="section-block tracker-left-to-right-clip flex flex-row">
    <div>
        <h5>Power measurements</h5>
        <p>Fill your power measurements, so we could analyze more</p>
        <button class="btn btn-primary">Start filling</button>
    </div>
    <img width="70%" height="70%" src="img/icons/contact-form.png" alt="formik">
</div>
<div class="section-block tracker-right-to-left-clip"></div>
<div class="section-block tracker-top-to-right-clip"></div>