<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Trainings counter section</h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary">Change training's plan</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="flex flex-row">
                <p class="trainings-info-text"></p>
                <img src="img/icons/calories.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <p>Trainings this week: 2</p>
            <p>Remaining trainings this week: 1</p>
            <p>Total hours this week: 6</p>
            <p>Total hours: 300</p>
            <form action="">
                <label class="trainings-label-count" for="">Add trainings count</label>
                <button type="button" class="btn btn-secondary"></button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>