<div class="container trainings-section">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Trainings counter section</h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary" id="btn-change-training-plan" data-bs-toggle="modal" data-bs-target="#trainingPlanModal">Change training's plan</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="flex flex-row flex-center">
                <h6 id="attendance-streak"></h6>
                <img id='streak-img' src="/img/icons/calories.png" alt="fire icon">
            </div>
            <h6>Training sessions in a row</h6>
        </div>
        <div class="col-6">
            <p>Total sessions: <span id="total-sessions">0</span></p>
            <p>Total hours: <span id="total-hours">0</span></p>
            <div id="user-weeks-buttons" class="flex flex-row gap-2 mb-3"></div>
        </div>
    </div>

    <style>
        #trainingPlanModal {
            display: none;
            color: black;
        }
    </style>
    <div class="modal fade" id="trainingPlanModal" tabindex="-1" aria-labelledby="trainingPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trainingPlanModalLabel">Set Training Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="training-plan-form">
                        <div class="mb-3">
                            <label class="form-label">Choose Days of the Week:</label>
                            <div id="days-of-week" class="d-flex flex-wrap mb-3">
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Monday">Monday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Tuesday">Tuesday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Wednesday">Wednesday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Thursday">Thursday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Friday">Friday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Saturday">Saturday</button>
                                <button type="button" class="btn btn-outline-primary m-1" data-day="Sunday">Sunday</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="sessionDuration" class="form-label">Duration of each training (hours)</label>
                            <input type="number" class="form-control" id="sessionDuration" placeholder="Enter duration in hours" min="0.5" step="0.1">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Plan</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function initializeTrainingSection() {
        const email = localStorage.getItem('email');

        const daysOfWeekButtons = document.querySelectorAll('#days-of-week button');
        const selectedDays = new Set();
        console.log(daysOfWeekButtons);
        daysOfWeekButtons.forEach(button => {
            button.addEventListener('click', function () {
                console.log('cloked item')
                const day = this.getAttribute('data-day');
                if (selectedDays.has(day)) {
                    selectedDays.delete(day);
                    this.classList.remove('btn-primary');
                    this.classList.add('btn-outline-primary');
                } else {
                    selectedDays.add(day);
                    this.classList.remove('btn-outline-primary');
                    this.classList.add('btn-primary');
                }
            });
        });

        document.getElementById('training-plan-form').addEventListener('submit', async (e) => {

            const sessionDuration = document.getElementById('sessionDuration').value;

            const trainingDays = Array.from(selectedDays).join(', ');

            const response = await fetch('/set-training-plan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: localStorage.getItem('email'), days: trainingDays, duration: sessionDuration })
            });

            if (response.ok) {
                alert('Training plan updated successfully!');
                selectedDays.clear();
                daysOfWeekButtons.forEach(button => {
                    button.classList.remove('btn-primary');
                    button.classList.add('btn-outline-primary');
                });
                document.getElementById('sessionDuration').value = '';
                initializeTrainingSection();
            } else {
                console.error('Error updating training plan.');
            }
        });

        const { weekDays, totalSessionsHours, streak } = await getUserTrainingData(email);

        if (!weekDays || weekDays.length === 0) {
            document.getElementById('user-weeks-buttons').innerHTML = '<p>Please create a training plan to get started!</p>';
            document.getElementById('total-sessions').innerText = '0';
            document.getElementById('total-hours').innerText = '0';
            document.getElementById('attendance-streak').innerText = "0";
            return;
        }

        console.log(weekDays, totalSessionsHours, streak);

        document.getElementById('total-sessions').innerText = totalSessionsHours.sessions || '0';
        document.getElementById('total-hours').innerText = totalSessionsHours.hours || '0';
        document.getElementById('attendance-streak').innerText = streak || "0";

        weekDays.forEach(item => {
            console.log(item);
            const button = document.createElement('button');
            button.innerText = item.week_day;
            button.classList.add('btn', 'btn-primary');
            button.id = item.id;
            button.disabled = item.attended || !item.to_show;

            button.addEventListener('click', async (e) => {

                const response = await fetch('/mark-training-attended', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: localStorage.getItem('email'), week_day: item.week_day })
                });

                if (response.ok) {
                    await initializeTrainingSection();
                } else {
                    alert('Ошибка при пометке тренировки как посещенной.');
                }
            });

            document.getElementById('user-weeks-buttons').append(button);
        });
    }

    initializeTrainingSection()

    async function getUserTrainingData(email) {
        const response = await fetch('/get-user-training-data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        });

        const data = await response.json();

        if (response.ok) {
            if (data.message) {
                alert(data.message);
            }
            return data;
        } else {
            console.error('Error retrieving training data:', data.error);
        }
    }
</script>
