<form class='mb-3 weekly-body-form'>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="height" class="form-label">Height (cm)</label>
                    <input name="height" type="number" class="form-control" id="height" placeholder="Enter your height...">
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Weight (kg)</label>
                    <input name="weight" type="number" class="form-control" id="weight" placeholder="Enter your weight...">
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="bicep" class="form-label">Bicep (cm)</label>
                    <input name="bicep" type="number" class="form-control" id="bicep" placeholder="Enter bicep size...">
                </div>
                <div class="mb-3">
                    <label for="waist" class="form-label">Waist (cm)</label>
                    <input name="waist" type="number" class="form-control" id="waist" placeholder="Enter waist size...">
                </div>
                <div class="mb-3">
                    <label for="thigh" class="form-label">Thigh (cm)</label>
                    <input name="thigh" type="number" class="form-control" id="thigh" placeholder="Enter thigh size...">
                </div>
                <div class="mb-3">
                    <label for="forearm" class="form-label">Forearm (cm)</label>
                    <input name="forearm" type="number" class="form-control" id="forearm" placeholder="Enter forearm size...">
                </div>
            </div>
        </div>

        <div class="flex flex-center">
            <button type="submit" class="btn btn-primary">Saada</button>
        </div>
    </div>
</form>