<form class='mb-3 weekly-body-form'>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="height" class="form-label">Height (cm)</label>
                    <input name="height" type="number" class="form-control" id="height" placeholder="Enter your height..." required>
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Weight (kg)</label>
                    <input name="weight" type="number" class="form-control" id="weight" placeholder="Enter your weight..." required>
                </div>
                <div class="mb-3">
                    <label for="chest" class="form-label">Chest (cm)</label>
                    <input name="chest" type="number" class="form-control" id="chest" placeholder="Enter chest size..." required>
                </div>
                <div class="mb-3">
                    <label for="shoulders" class="form-label">Shoulders (cm)</label>
                    <input name="shoulders" type="number" class="form-control" id="shoulders" placeholder="Enter shoulders size..." required>
                </div>
                <div class="mb-3">
                    <label for="neck" class="form-label">Neck (cm)</label>
                    <input name="neck" type="number" class="form-control" id="neck" placeholder="Enter neck size..." required>
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="bicep" class="form-label">Bicep (cm)</label>
                    <input name="bicep" type="number" class="form-control" id="bicep" placeholder="Enter bicep size..." required>
                </div>
                <div class="mb-3">
                    <label for="waist" class="form-label">Waist (cm)</label>
                    <input name="waist" type="number" class="form-control" id="waist" placeholder="Enter waist size..." required>
                </div>
                <div class="mb-3">
                    <label for="thigh" class="form-label">Thigh (cm)</label>
                    <input name="thigh" type="number" class="form-control" id="thigh" placeholder="Enter thigh size..." required>
                </div>
                <div class="mb-3">
                    <label for="forearm" class="form-label">Forearm (cm)</label>
                    <input name="forearm" type="number" class="form-control" id="forearm" placeholder="Enter forearm size..." required>
                </div>
                <div class="mb-3">
                    <label for="hips" class="form-label">Hips (cm)</label>
                    <input name="hips" type="number" class="form-control" id="hips" placeholder="Enter hips size..." required>
                </div>
                <div class="mb-3">
                    <label for="calves" class="form-label">Calves (cm)</label>
                    <input name="calves" type="number" class="form-control" id="calves" placeholder="Enter calves size..." required>
                </div>
            </div>
        </div>

        <div class="flex flex-center">
            <button type="submit" class="btn btn-primary">Saada</button>
        </div>
    </div>
</form>
